page-registration {

  /*ion-content {
    background: none;
    background-color: transparent !important;
  }*/

  .content-wrapper {
    margin-top: 100px;
    padding: 50px;
    background: beige;
    border-radius: 10px;
    font-size: large;

    h1 {
      margin-bottom: 30px;
    }

  }
  
}
